body {
  text-align: center;
}

.left-group {
  padding: 30px;
  width: 35%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-right: 10px;
  display: inline-block;
}

.left-layout {
  text-align: left;
}

.right-group {
  width: 45%;
  box-shadow: none;
  padding: 25px;
}
